html {
  box-sizing: border-box;
  background-color: #dbd6cf;
  font-family: Arial, sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header {
  text-align: center;
  font-family: Bevan, sans-serif;
  color: #fff;
}

.planets {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.planets li {
  display: inline-block;
  margin: .3em;
  padding: .6em;
  background-color: #713837;
  border-radius: 5px;
  text-align: center;
  color: #fff;
}

body {
  margin: 0;
  padding: .5em;
  background-color: #79756f;
  border: 3px solid #595652;
}

.planets li:hover {
  background-color: #f33;
  color: #fff;
}

a {
  color: white;
  text-decoration: none;
}
